{% extends 'pins/layouts/base.html.twig' %}

{% block title %}Pinterest Clone{% endblock %}

{% block body %}
    {% if(pins|length) > 0 %} 
        <h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, 'Pin available', 'Pins available')}}</h1>
        <div class="row "> 
            {% for pin in pins %}

                <div class="col-sm-6 col-md-4 mx-auto">
{#                    <div class="card-group mx-auto">
#}                        <div id="home_card" class="card mb-5">
                            <article class="article_pin">
                                <div class="mw-100 overflow-hidden">
                                    <a href="{{ path('app_show', {'id' : pin.id}) }}"><img src="{{ (pin.imageName ? vich_uploader_asset(pin ) : asset('build/images/placeholder.jpg')) | imagine_filter('thumbnail_medium') }}" alt="{{ pin.title }}" class="card-img-top" /></a>
                                </div>
                                <div class="card-body">


                                    <h4 class="card-title"><a href="{{ path('app_show', {'id' : pin.id}) }}" class="text-decoration-none text-muted">{{ pin.title }}</a></h4>
                                    <p class="card-text">{{ pin.description|u.truncate(10, '...', false) }}</p>
                                    <p class="card-text text-muted"><small>Submitted by {{ pin.user.fullName }}  <br> {{ pin.createdAt|ago }}</small></p>


                                </div>
                            </article>
{#                        </div>#}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p class="text-center text-info h2 mt-5"> No pins available at the moment. <br> <a href="{{ path('app_add') }}">Create your pin</a> </p> 
        {% endif %}
    {% endblock %}




{#<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>#}